<div class="index_container">
  <div class="text_wrap">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-6">
          <h1 class="display-1 font-weight-bold d-block">Cinema Ironhack</h1>
          <a class="btn btn-lg btn-light" href="/movies">Check the movies!</a>
        </div>
      </div>
    </div>
  </div>
</div>
